
/* styles.css */
body {
 font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient( to right, #22c1c3, #fdbb2d);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-form {
border-radius: 60px;
background: linear-gradient(145deg, #f6c4c4, #cfa5a5);
box-shadow:  8px 8px 6px #a68484,
             -8px -8px 6px #ffeaea;
   align-items: center;
   display: flex;
    justify-content: center;
    padding: 10px;
  margin-bottom: 30px;
  margin-top: 30px;

}
.signup-form{

  border-radius: 60px;
background: linear-gradient(145deg, #f6c4c4, #cfa5a5);
box-shadow:  8px 8px 6px #a68484,
             -8px -8px 6px #ffeaea;
   align-items: center;
   display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 10px;
   margin-top: 10px;
    margin-bottom: 30px;
}
.input-container {
  --c-text: rgb(50, 50, 80);
  --c-bg: rgb(252, 252, 252);
  --c-outline: rgb(55, 45 , 190);
  display: inline;
  gap: 1ch;
  position: relative;
  max-width: 190px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.input-field {
  padding: 0.5em 0.75em;
  border-radius: 0.2em;
  border: 1px solid var(--c-border, currentColor);
  color: var(--c-text);
  font-size: 1rem;
  letter-spacing: 0.1ch;
  width: 100%;
}

.input-field:not(:placeholder-shown) + .input-label {
  transform: translateY(-220%);
  opacity: 1;
}

.input-field:invalid {
  --c-border: rgb(230, 85, 60);
  --c-text: rgb(230, 85, 60);
  --c-outline: rgb(230, 85, 60);
}

.input-field:is(:disabled, :read-only) {
  --c-border: rgb(150, 150, 150);
  --c-text: rgb(170, 170, 170);
}

.input-field:is(:focus, :focus-visible) {
  outline: 2px solid var(--c-outline);
  outline-offset: 2px;
}

.input-label {
  --timing: 200ms ease-in;
  position: absolute;
  left: 0;
  top: 50%;
  transition: transform var(--timing),
    opacity var(--timing);
  transform: translateY(-50%);
  opacity: 0;
  color: var(--c-text);
  font-weight: 500;
}





form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    margin-bottom: 5px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.group {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: 200px;
}

